.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
}

input {
  width: 100%;
  height: 35px;
  border: 1px solid wheat;
}

label {
  color: rgb(36, 36, 36);
}

.form div {
  margin-bottom: 20px;
}

.container {
  width: 950px;
  background-color: antiquewhite;
  padding: 30px 50px;
}

button {
  padding: 10px 25px;
  background-color: rgb(18, 112, 81);
  color: white;
  border: none;
  cursor: pointer;
}

.ShippingCostContainer {
  display: flex;
}


#checkout {
  display: none;
}

select {
  width: 100%;
  height: 40px;
  border: 1px solid wheat;
  background-color: white;
}

#services {
  height: 120px;
}

.dimension,
.quantity,
.collection,
.delivery,
.account_info,
.details {
  display: flex;
  justify-content: space-between;
}

.dimension div {
  width: 16%;
}

.collection div {
  width: 32%;
}

.delivery div {
  width: 32%;
}

.details div {
  width: 32%;
}

h3 {
  font-size: 17px;
}